p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.riddle-text {
    display: inline-block;
    padding-left: 30px;
    border-left: 2px dotted #e5e5e5;
    padding-top: 15px;
}

.main-title {
    font-size: 25px !important;
    font-family: 'Formular' !important;
    color: #1a1a1a !important;
    width: 660px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}